:root {
  box-sizing: border-box;
}
  
*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
}

.container {
  height: 100%;
  width: 100%;
  background-color: gray;
}

.slider {
  margin: auto;
  display: flex;
  max-width: 600px;
  border: 2px solid red;
  padding: 20px;
  /* height: 700px; */
}

.slider-element {
  margin: auto;
  display: none;
  z-index: 2;
}

.active {
  display: block;
}

/* .slider-element.active {
   opacity: 1; 
} */

.dot {
  width: 25px;
  height: 25px;
  margin: 5px 7px;
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
}

label input {
  display: none;
}

label input + div {
  display: inline-block;
  content: "";
  background-color: blue;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

label input:hover + div {
  background-color: rgb(255, 255, 255);
}

label input:checked + div {
  background-color: inherit;
  border: 1px solid rgb(30, 30, 255);
}

@media (max-width: 800px) {
  .slider {
    flex-direction: column;
    gap: 20px;
  }

  .slider-desciption {
    order: 1;
  }

  .slider-controls {
    align-self: center;
  }
}
